<a id="view-back-button" class="mr-3" aria-hidden="true" data-id="{{ upload._id }}"><i style="color: #43a1f7;" class="fa fa-arrow-left fa-2x m-2"></i></a>

<div class="card justify-content-center mx-auto" style="width: 25rem; background-color: transparent;">
  <div class="lightgallery" style="{{upload.displayType}}">
    <a href="{{upload._url}}">
        <img class="card-img-top" src="{{upload._url}}">
    </a>
  </div>
  <div class="card-body">
    <form class="mb-1" id="view-file">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: transparent;"><strong>Filename:</strong>
        <input type="text" class="form-control" id="filename" name="upload[filename]" placeholder="Filename" value="{{upload.filename}}" required>
        </li>
        <li class="list-group-item" style="background-color: transparent;"><strong>Description:</strong>
        <textarea rows="4" cols="50" class="form-control" id="description" name="upload[description]" placeholder="Description">{{upload.description}}</textarea>
        <li class="list-group-item" style="background-color: transparent;"><strong>Tags:</strong>
        <input type="text" class="my-tags tags form-control" name="upload[tags]">
        <span><i>Use a comma to separate tags</i></span>
        </li>
        <li class="list-group-item" style="background-color: transparent;"><strong>File ID:</strong>
        <span>{{upload._id}}</span>
        </li>
      </ul>
      <div class="card-body btn-group-lg text-center" role="group" aria-label="File sharing link">
        <button id="view-delete-button" type="button" class="fa fa-trash fa-2x p-2 btn-danger" data-toggle="modal" data-id="{{ upload._id }}" href="#confirmDeleteModal"></button>
        <a href={{ upload._url }}><button id="view-download-button" type="button" class="fa fa-download fa-2x p-2 btn-info" data-id="{{ upload._id }}"></button></a>
        <button id="view-save-button" type="submit" name="submit" class="fa fa-floppy-o fa-2x p-2 btn-success" aria-hidden="true" data-id="{{ upload._id }}"></button>
      </div>
      <!-- radio buttons for private/public switching -->
      <label for="file-privacy">File sharing options</label>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="upload[private]" id="file-private" value="true" checked>
          Private
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="upload[private]" id="file-public" value="false">
          Anyone with the link
        </label>
      </div>
    </form>
      <div class="input-group card-body text-center" aria-label="File sharing link">
        <span class="input-group-addon"><i class="fa fa-share"></i></span>
        <input type="text" class="form-control" id="sharing-link" value="" readonly>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" id="sharing-link-button" data-clipboard-target="#sharing-link">Copy</button>
        </span>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>
