<div class="row justify-content-left mt-2 ml-3">
  <div class="col-12 col-md-8 col-xl-6">
    <div class='d-flex'>
      <button id="view-back-button" type="button" class="btn btn-secondary mr-auto p-2">Back</button>
      <a href="{{upload._url}}" id="public-download-button" class="btn btn-primary mx-1 p-2">Download</a>
    </div>
      <h3>{{upload.filename}}</h3>
        <label class="font-weight-bold" for="file-id">File ID: </label>
        <span>{{upload._id}}</span>
      <div>
        <label class="font-weight-bold" for="description">Description: </label>
        <span>{{upload.description}}</span>
      </div>
      <div>
        <label class="font-weight-bold" for="tags">Tags:</label>
        <div id="tag_container"></div>
      </div>
      <div>
        <label for="sharing-link">File sharing link</label>
        <br>
        <div class=input-group>
          <input type="text" class="form-control" id="sharing-link" value="" readonly>
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" id="sharing-link-button" data-clipboard-target="#sharing-link">Copy</button>
          </span>
        </div>
      </div>
      <div id="previewFileBtn" style="display: none;">
        <button class="btn btn-primary">Preview Image</button>
      </div>
  </div>
</div>
<div id="lightgallery" style="display: none">
  <a id="photo" href="{{upload._url}}">
      <img src="{{upload._url}}" />
  </a>
</div>
