<div class="table-responsive">
  <table class="table table-hover text-center table-border table-striped table-condensed" id="upload-table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Last modified</th>
        <th>File size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each uploads as |upload| }}
      <tr class='clickable-row' style="cursor: pointer" id="{{upload._id}}">
        <td class="text-left">{{upload.filename}}</td>
        <td>{{upload.updatedAt}}</td>
        <td>{{upload._filesize}}</td>
        <td>
          <a class="nav-link btn btn-danger p-2 m-2 delete-file-btn" data-toggle="modal" data-id="{{ upload._id }}" href="#confirmDeleteModal">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
