<div class="table-responsive">
  <table class="table table-hover text-center table-border table-striped table-condensed" id="upload-table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Last modified</th>
        <th>File size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each uploads as |upload| }}
      <tr id="{{upload._id}}">
        <td class="text-left">{{upload.filename}}</td>
        <td>{{upload.updatedAt}}</td>
        <td>{{upload._filesize}}</td>
        <td>
          <div class="btn-group-lg" role="group" aria-label="Action buttons">
            <button type="button" class="fa fa-eye fa-5 p-2 btn-secondary home-preview-button" aria-hidden="true" data-id="{{ upload._id }}" style="{{upload.displayType}}"></button>
            <button type="button" class="fa fa-pencil fa-5 p-2 btn-primary home-edit-button" aria-hidden="true" data-id="{{ upload._id }}"></button>
            <a href={{ upload._url }}><button type="button" class="fa fa-download fa-5 p-2 btn-info home-download-button" data-id="{{ upload._id }}"></button></a>
            <button type="button" class="fa fa-trash fa-5 p-2 btn-danger home-delete-button" data-toggle="modal" data-id="{{ upload._id }}" href="#confirmDeleteModal"></button>
          </div>
        </td>
      </tr>
      <div class="lightgallery" style="display: none;">
        <a data-photo-id="{{ upload._id }}" href="{{upload._url}}">
            <img src="{{upload._url}}" />
        </a>
      </div>
      {{/each}}
    </tbody>
  </table>
</div>
